
<nav class="navbar navbar-expand-lg navbar-light bg-light mt-4 mb-4">
        <a class="navbar-brand" href="/">sez-ai</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Anasayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Hakkımda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/articles">Makaleler</a>
              </li>
          
            
          </ul>
          <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="/articles/dashboard">Kontrol Paneli</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/user/logout">Cikis Yap</a>
            </li>

          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="/user/login">Giris Yap</a>
            </li>

          {% endif %}

          
            
            <li class="nav-item active">
              <a class="nav-link" href="/user/register">Kayit Ol</a>
            </li>
            
            
          </ul>
        </div>
      </nav>
      